@use "../../styles/variables/colors.scss";
@use "../../styles/variables/fonts.scss";
@use "../../styles/mixins/mixins.scss";

.card {
  height: 400px;

  text-align: center;
  position: relative;

  box-sizing: border-box;
  padding: 25px 35px;

  border-radius: 12px;
  border: 1px solid colors.$gen_dark;

  background-color: colors.$bg_body;

  box-shadow: 1px 2px 8px 2.6px colors.$shadow;

  user-select: none;
  transition: all 2s ease;

  &:hover {
    color: colors.$btn_hover;
    border: 1px solid colors.$btn_hover-dark;
    box-shadow: 0px 0px 8px 6px colors.$shadow-extra;

    transition: all 0.3s ease;
  }
}

.card__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__header {
  width: 100%;
  text-align: center;

  box-sizing: border-box;
  padding: 0 12%;
}

.card__main {
  position: relative;
  height: 100%;

  border-radius: 6px;

  margin-top: 8px;
  margin-bottom: 12px;

  .card__main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 2.6s ease;
  }
}

.card:hover .card__main-img {
  transform: translate(-50%, -50%) scale(1.45);

  transition: all 1.6s ease;
}
