@use "../styles/variables/colors.scss";

.form {
  //   display: grid;
  //   grid-template-columns: repeat(100px, 1fr);
  //   display: flex;
  //   column-gap: 20px;
}

.fieldset-outer {
  display: flex;
  column-gap: 20px;
  margin-bottom: 50px;
  //   border: 1px solid salmon;
}

.fieldset-inner {
  width: 100%;
  //   margin-bottom: 20px;
  //   border: 1px solid salmon;
}

label {
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 20px;
}

input {
  width: 100%;
  display: block;
  padding: 16px 20px;
  background-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
}
