@use "./styles/variables/colors";

.main {
  //   min-height: calc(100vh - 145px - 62px);
}

.error {
  &.wrapper {
    text-align: center;
    margin-bottom: 50px;
  }
  &.code {
    font-size: 160px;
  }
  &.text {
    font-size: 30px;
  }
}
